Flask==2.3.2
gunicorn==21.2.0
pytesseract==0.3.10
Pillow==9.4.0
requests==2.31.0
numpy==1.25.2
opencv-python==4.8.0.74
Werkzeug==2.3.7
Flask-WTF==1.1.1
Flask-SQLAlchemy==3.0.4
psycopg2-binary==2.9.7
pymupdf
